In [ ]:
#Question no. 1:- Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91935\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sortedcontainers in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\91935\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91935\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91935\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91935\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [7]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [8]:
driver= webdriver.Chrome()

In [9]:
#First get the webpage https://www.shine.com/:-

driver.get('https://www.shine.com/')

In [12]:
#Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field:-

designation= driver.find_element(By.CLASS_NAME,'form-control')
designation.send_keys('Data Analyst')

In [13]:
location=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys("Bangalore")

In [15]:
#Then click the searchbutton:-

search=driver.find_elements(By.CLASS_NAME, 'btn btn-secondary undefined')

In [76]:
#Then scrape the data for the first 10 jobs results you get:-

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [77]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [78]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [79]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in name_tags:
    name=i.text
    company_name.append(name)

In [80]:
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags:
    exp=i.text
    experience_required.append(exp)

In [81]:
import pandas as pd

In [82]:
#Finally create a dataframe of the scraped data:-

df=pd.DataFrame({'Title':job_title[0:10],'Location':job_location[0:10],'Company_Name':company_name[0:10],'Experience':experience_required[0:10]})

In [83]:
df

,Title,Location,Company_Name,Experience
0,Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Vacancy For Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Clinical Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Data Modeler data,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Clinical Data Analyst,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Data Analyst Hiring Fresher and Experience,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs

In [ ]:
#Question no. 2:-:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91935\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: idna in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91935\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91935\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91935\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91935\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [158]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

In [159]:
driver=webdriver.Chrome()

In [160]:
#First get the webpage https://www.shine.com/:-

driver.get('https://www.shine.com/')

In [172]:
#Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field:-

designation= driver.find_element(By.CLASS_NAME,'input')
designation.send_keys('Data Scientist')

In [173]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [174]:
#Then click the search button:-

search=driver.find_elements(By.CLASS_NAME, 'btn btn-secondary undefined')

In [175]:
#Then scrape the data for the first 10 jobs results you get:-

job_title=[]
job_location=[]
company_name=[]

In [176]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [177]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [178]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in name_tags:
    name=i.text
    company_name.append(name)

In [179]:
#Finally create a dataframe of the scraped data:-

df=pd.DataFrame({'Title':job_title[0:10],'Location':job_location[0:10],'Company_Name':company_name[0:10]})
df

                                         Title   Location         Company_Name
0
1  Req. for the Technology Analyst IT Services       Pune      infosys limited
2                         We need Process Lead    Chennai      infosys limited
3       We need Technical Operations Associate  Bangalore      infosys limited
4
5
6
7            sap functional consultant - delhi      Delhi  v tech it solutions
8         sap functional consultant - Gurugram   Gurugram  v tech it solutions
9         Sap Functional Consultant - Gurugram   Gurugram  v tech it solutions

In [ ]:
#Question no. 3:-In this question you have to scrape data using the filters available on the webpage 
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [200]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [201]:
driver=webdriver.Chrome()

In [202]:
#first get the web page https://www.shine.com/:-

driver.get('https://www.shine.com/')

In [203]:
#Enter “Data Scientist” in “Skill, Designations, and Companies” field:-

designation=driver.find_element(By.CLASS_NAME, 'input')
designation.send_keys('Data Scientist')

In [204]:
#Then click the search button:-

search=driver.find_elements(By.CLASS_NAME,"iconH-zoom-white")

In [206]:
#Then apply the location filter and salary filter by checking the respective boxes:-

location_filter= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button ")
location_filter.send_keys('Delhi')

In [207]:
salary_filter=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button')
salary_filter.send_keys('3-5 lakhs')

In [209]:
#Then scrape the data for the first 10 jobs results you get:-

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [210]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [211]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [212]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in name_tags:
    name=i.text
    company_name.append(name)

In [213]:
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags:
    exp=i.text
    experience_required.append(exp)

In [214]:
#Finally create a dataframe of the scrapeddata:=

df=pd.DataFrame({'Title':job_title[0:10],'Location':job_location[0:10],'Company_Name':company_name[0:10],'Experience':experience_required[0:10]})

In [215]:
df

,Title,Location,Company_Name,Experience
0,Clinical Data Analyst,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Bioanalytical Research,Delhi\n+6,techno endura,0 to 1 Yr
2,Bioanalytical Research Associates,Delhi\n+6,techno endura,0 to 1 Yr
3,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical Analyst Fresher,Delhi\n+6,techno endura,0 to 1 Yr
5,Junior Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
6,Data Engineer,Delhi\n+6,techno endura,0 to 1 Yr
7,Biostatistician,Delhi\n+9,future solution centre,10 to 20 Yrs
8,Clinical Document Specialist,Delhi\n+17,national seeds corporation limited,2 to 7 Yrs
9,Document Specialist,Delhi\n+6,techno endura,0 to 1 Yr

In [ ]:
#Question no.4:- Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91935\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: idna in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91935\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91935\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91935\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91935\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
#Go to Flipkart webpage by url :https://www.flipkart.com:-

driver.get("https://www.flipkart.com/")

In [5]:
#Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written:-

designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys('sunglasses')

In [6]:
#click the search icon:-

search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [7]:
#From this page you can scrap the required data as usual.

Brand=[]
Product_description=[]
Price=[]
Off=[]

In [8]:
#After scraping data from the first page, go to the “Next” Button at the bottom other page:-

start=0
end=3

In [9]:
#Now scrape data from this page as usual:-

for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand=i.text
        Brand.append(brand)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [10]:
#Repeat this until you get data for 100sunglasses:-

for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in description_tags:
        description=i.text
        Product_description.append(description)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [11]:
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        Price.append(price)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [12]:
for page in range(start,end):
    off_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in off_tags:
        off=i.text
        Off.append(off)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [13]:
print(len(Brand),len(Product_description),len(Price),len(Off))

120 120 120 120

In [19]:
import pandas as pd

In [14]:
#make a dataframe:-

df=pd.DataFrame({'Brand_name':Brand,'Product_Discription':Product_description,'Product_Price':Price,'Off_percentage':Off})
df[0:100]

,Brand_name,Product_Discription,Product_Price,Off_percentage
0,Elligator,"Others Wayfarer, Retro Square Sunglasses (50)",₹199,86% off
1,Eyenaks,UV Protection Rectangular Sunglasses (Free Size),₹346,76% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
3,Elligator,UV Protection Retro Square Sunglasses (54),₹149,70% off
4,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹523,73% off
...,...,...,...,...
95,Rich Club,UV Protection Retro Square Sunglasses (54),₹487,62% off
96,NuVew,"UV Protection Sports, Wrap-around Sunglasses (70)",₹445,72% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹385,80% off
98,NOWWAY,UV Protection Rectangular Sunglasses (Free Size),₹299,57% off
99,ROADWAY,UV Protection Wayfarer Sunglasses (Free Size),₹179,82% off

In [ ]:
#Question no 5:- Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

In [53]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91935\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: cffi>=1.14 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91935\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91935\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91935\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91935\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [61]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [62]:
driver=webdriver.Chrome()

In [63]:
#first get the web page :-

driver.get('https://www.flipkart.com/')

In [64]:
#Enter iphone11 in search field:-

designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys('iphone11')

In [65]:
#Then click the search button:-

search=driver.find_elements(By.CLASS_NAME,"_2iLD__")

In [89]:
#scrape the data for first 100 reviews:-

Rating=[]
Review_summary=[]
Full_review=[]

In [90]:
start=0
end=17

In [91]:
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        Rating.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')

In [92]:
for page in range(start,end):
    review_summary=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in review_summary:
        Review_summary.append(i.text)
    next_button=driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')

In [93]:
for page in range(start,end):
    full_review=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in full_review:
        Full_review.append(i.text)
    next_button=driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')

In [94]:
print(len(Rating),len(Review_summary),len(Full_review))

102 102 102

In [95]:
#Finally create a dataframe of the scrapeddata:-

df=pd.DataFrame({'rating':Rating[0:100],'review_summary':Review_summary[0:100],'full_review':Full_review[0:100]})
df

,rating,review_summary,full_review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,4,Wonderful,Great choice if you looking for everyday use
2,5,Highly recommended,Battery - more or less 2 days\nCamera - can no...
3,5,Perfect product!,Nice products thanks flkat
4,5,Wonderful,I bought during the big billion sale. It’s wor...
...,...,...,...
95,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
96,5,Worth every penny,Feeling awesome after getting the delivery of ...
97,4,Wonderful,Great choice if you looking for everyday use
98,5,Highly recommended,Battery - more or less 2 days\nCamera - can no...
99,5,Perfect product!,Nice products thanks flkat

In [ ]:
# Question no. 6:- Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [105]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [106]:
driver=webdriver.Chrome()

In [107]:
#first get the web page:-

driver.get('https://www.flipkart.com/')

In [108]:
#Enter sneakers in the search field:-

designation=driver.find_element(By.CLASS_NAME, "Pke_EE")
designation.send_keys('sneakers')

In [109]:
#Then click the search button:-

search=driver.find_element(By.CLASS_NAME, "_2iLD__")
search.click()

In [116]:
#scrape the data for first 100 sneakers:-

Brand=[]
Product_description=[]
Price=[]

In [117]:
start=0
end=4

In [118]:
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_tags:
        Brand.append(i.text)
    next_button=driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [119]:
for page in range(start,end):
    product_description=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_description:
        Product_description.append(i.text)
    next_button=driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [120]:
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price_tags:
        Price.append(i.text)
    next_button=driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')

In [122]:
import pandas as pd

In [124]:
# Finally create a dataframe of the scrapeddata:-

df=pd.DataFrame({'Product_Brand':Brand[0:100],'Product_Description':Product_description[0:100],'Product_Price':Price[0:100]})
df[0:100]

,Product_Brand,Product_Description,Product_Price
0,URBANBOX,Trending Stylish Casual Outdoor Sneakers Shoes...,₹299
1,aadi,Trending Stylish Casual Outdoor Sneakers Shoes...,₹299
2,URBANBOX,Modern Trendy Shoes Sneakers For Men,₹299
3,BRUTON,Sneakers For Women,₹299
4,Deals4you,Aadi Men Black & Green Casual Sneaker Sneakers...,₹399
...,...,...,...
95,asian,Fashionable Canvas Casual Partywear Outdoor Sn...,"₹1,039"
96,kardam&sons,Casual Sneakers Colour Blocked Shoes For Boys ...,₹341
97,kardam&sons,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹419
98,RED TAPE,Smashic Sneakers For Men,"₹1,619"
99,streetLOOK,Carnival-02 Mens High Top Casual Chunky Fashio...,₹494

In [ ]:
#Question no. 7:- Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91935\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: trio~=0.17 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: cffi>=1.14 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91935\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91935\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91935\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91935\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [7]:
driver=webdriver.Chrome()

In [8]:
#first get the web page:-

driver.get("https://www.amazon.in/")

In [9]:
#Enter Laptop in the search field:-

designation=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
designation.send_keys('Laptop')

In [10]:
#Then click the search button:-

search=driver.find_elements(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')

In [50]:
#scrape the data for first 10 laptops:-

title=[]
ratings=[]
price=[]

In [51]:
title_tags=driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    tit=i.text
    title.append(tit)

In [52]:
rating_tags=driver.find_elements(By.XPATH, '//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tags:
    rat=i.text
    ratings.append(rat)

In [53]:
price_tags=driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in price_tags:
    pri=i.text
    price.append(pri)

In [54]:
import pandas as pd

In [55]:
#Finally create a dataframe of the scrapeddata:-

df=pd.DataFrame({'Title':title[0:10],'Ratings':ratings[0:10],'Price':price[0:10]})
df

                                               Title Ratings     Price
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...            54,990
1  Microsoft Surface Book 3 10th Gen Intel Core i...          1,89,990
2  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...            77,990
3  Acer Predator Helios 300 11th Gen Intel Core i...          1,41,990
4  Acer Travelmate Business Laptop Intel Core i7-...            54,990
5  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...            64,990
6  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...            84,899
7  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...            67,490
8  Dell Alienware m15 R7 Gaming Laptop, Intel Cor...          1,29,990
9  MSI CreatorPro M16, Intel 13th Gen. i7-13700H,...          1,84,990

In [ ]:
#Question no. 8:- Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [59]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [60]:
driver=webdriver.Chrome()

In [61]:
#first get the web page:-

driver.get("https://www.azquotes.com/")

In [62]:
#click on Top Quotes:-

search=driver.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')

In [70]:
#scrape the data for Top 1000 Quotes of All Time:-

quote=[]
author=[]
type_of_quotes=[]

In [71]:
#go to next page:-

start=0
end=10

In [72]:
for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH, '//a[@class="title"] ')
    for i in quote_tags:
        quote.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')

In [73]:
for page in range(start,end):
    author_tags=driver.find_elements(By.XPATH, '//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')

In [74]:
for page in range(start,end):
    type_of_quotes_tags=driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in type_of_quotes_tags:
        type_of_quotes.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')

In [75]:
print(len(quote),len(author),len(type_of_quotes))

1000 1000 1000

In [76]:
#Finally create a dataframe of the scrapeddata:-

df=pd.DataFrame({'Quote':quote,'Author':author,'Type_of_quotes':type_of_quotes})
df

,Quote,Author,Type_of_quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [ ]:
#Question no. 9:- Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.jagranjosh.com/')

In [4]:
search_GK=driver.find_elements(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')

In [5]:
search_list=driver.find_elements(By.XPATH,'/html/body/div[1]/div[8]/section[5]/div[2]/ul/li[1]/article/h3/a')

In [31]:
name=[]
born_dead=[]
term_of_office=[]
remarks=[]

In [32]:
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[4]/div[3]/div/table/tbody/tr[3]/td[4]/p')
for i in name_tags:
    name.append(i.text)

In [33]:
print(name)

[]

In [ ]:
#Question no. 10:- Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
driver=webdriver.Chrome()

In [16]:
driver.get('https://www.motor1.com/')

In [9]:
location=driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input ")
location.send_keys('50 most expensive cars')

In [10]:
search=driver.find_elements(By.CLASS_NAME, "m1-search-form")

In [11]:
click= driver.find_elements(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')

In [27]:
name=[]
price=[]

In [28]:
name_tags=driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in name_tags:
    name.append(i.text)
print(name)

['Aston Martin Valour', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'Ferrari Daytona SP3', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Zenvo Aurora', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Pininfarina B95 Speedster', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', '777 Hypercar', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*', 'Rolls-Royce La Rose Noire Droptail', 'Most Expensive Cars In The World']

In [29]:
price_tags=driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[10]/strong')
for i in price_tags:
    price.append(i.text)
print(price)

['Price: $1.7 Million']

In [30]:
print(len(name),len(price))

51 1

In [ ]:
[#cant find the class for 'Price'] in inspect.