#Question no. 1:-Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91935\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: trio~=0.17 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91935\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: idna in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\91935\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91935\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91935\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91935\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91935\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [10]:
#import required libraries:-

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [11]:
##Create a webdriver object:-

driver=webdriver.Chrome()

In [12]:
#Go to the website:-

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [13]:
#Create Empty Lists:-

rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [15]:
#Scraping Name of videos:-

name_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//td[1]')
for i in name_tag:
    name.append(i.text)

In [19]:
#Scraping Artist of videos:-

artist_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//td[2]')
for i in artist_tag:
    artist.append(i.text)

In [20]:
#Scraping upload date of videos:-

date_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//td[4]')
for i in date_tag:
    upload_date.append(i.text)

In [21]:
#Scraping Views of videos:-

views_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]//td[3]')
for i in views_tag:
    views.append(i.text)

In [22]:
#Create dataframe and print:-

df=pd.DataFrame({'Name':name,'Artist':artist,'Upload Date':upload_date,'Views':views})

df

,Name,Artist,Upload Date,Views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
14,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
20,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
21,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
26,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
27,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
28,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
29,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

#Question no. 2:-Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time

In [10]:
#import required libraries:-

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [11]:
#Create a driver object:-

driver=webdriver.Chrome()

In [12]:
#Go to webpage:-

driver.get("https://www.bcci.tv/")

In [14]:
#Click on fixture page:-

search=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
search.click()

In [30]:
#Create Empty Lists:-

series=[]
place=[]
date=[]
time=[]

In [31]:
#Scraping team series:-

series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    series.append(i.text)

In [32]:
print(len(series))

7

In [33]:
#Scraping place:-

place_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place_tag:
    place.append(i.text)

In [34]:
print(len(place))

7

In [35]:
#Scraping date:-

date_tag=driver.find_elements(By.XPATH,'//div[1][@class="match-dates ng-binding"]')
for i in date_tag:
    date.append(i.text)

In [36]:
print(len(date))

7

In [37]:
#Scraping time:-

time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tag:
    time.append(i.text)

In [38]:
print(len(time))

7

In [39]:
#Create dataframe and print:-

df=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})

df

                          Series       Place               Date         Time
0  ENGLAND TOUR OF INDIA 2023-24      Ranchi  23 FEBRUARY, 2024  9:30 AM IST
1  ENGLAND TOUR OF INDIA 2023-24  Dharamsala      7 MARCH, 2024  9:30 AM IST
2    INDIA TOUR OF ZIMBABWE 2024      Harare       6 JULY, 2024  8:00 PM IST
3    INDIA TOUR OF ZIMBABWE 2024      Harare       7 JULY, 2024  8:00 PM IST
4    INDIA TOUR OF ZIMBABWE 2024      Harare      10 JULY, 2024  8:00 PM IST
5    INDIA TOUR OF ZIMBABWE 2024      Harare      13 JULY, 2024  8:00 PM IST
6    INDIA TOUR OF ZIMBABWE 2024      Harare      14 JULY, 2024  8:00 PM IST

#Question no. 3:-Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion)

In [1]:
#import required libraries:-

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#Create a driver object:-

driver=webdriver.Chrome()

In [3]:
#Go to webpage:-

driver.get('https://statisticstimes.com/')

In [4]:
#Click on economy:-

search=driver.find_element(By.XPATH,'//div[2][@class="dropdown"]')
search.click()

In [9]:
#Click on indian state_wise GDP:-

search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_btn.click()

In [10]:
#Create Empty Lists:-

rank=[]
state=[]
GSDP_21_22=[]
GSDP_22_23=[]
share_21_22=[]
GDP_billion=[]

In [15]:
#Scraping rank:-

rank_tag=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag:
    rank.append(i.text)

In [17]:
#Scraping State:-

state_tag=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tag:
    state.append(i.text)

In [19]:
#Scraping GSDP for year 21_22:-

GSDP_22_tag=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in GSDP_22_tag:
    GSDP_21_22.append(i.text)

In [20]:
#Scraping GSDP for year 22_23:-

GSDP_23_tag=driver.find_elements(By.XPATH,'//td[3][@class="data"]')
for i in GSDP_23_tag:
    GSDP_22_23.append(i.text)

In [21]:
#Scraping GSDP for year 21_22:-

share_tag=driver.find_elements(By.XPATH,'//td[5][@class="data"]')
for i in share_tag:
    share_21_22.append(i.text)

In [22]:
#Scraping GDP billion:-

billion_tag=driver.find_elements(By.XPATH,'//td[6][@class="data"]')
for i in billion_tag:
    GDP_billion.append(i.text)

In [23]:
#Create Dataframe and print:-

df=pd.DataFrame({'Rank':rank[0:33],'State':state[0:33],'GSDP 21_22 Current prices':GSDP_21_22[0:33],'GSDP 22_23 Current Prices':GSDP_22_23[0:33],'Share 21_22':share_21_22[0:33],'GDP($billion)':GDP_billion[0:33]})

df

,Rank,State,GSDP 21_22 Current prices,GSDP 22_23 Current Prices,Share 21_22,GDP($billion)
0,1,Maharashtra,-,-,13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","2,257,575",8.41%,265.024
3,4,Karnataka,"2,241,368","2,241,368",8.36%,263.440
4,5,Gujarat,-,-,8.25%,259.996
5,6,West Bengal,"1,554,992","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,317,728",4.83%,152.185
9,10,Telangana,"1,313,391","1,313,391",4.81%,151.523
10,11,Kerala,-,-,3.97%,125.157
11,12,Delhi,"1,043,759","1,043,759",3.85%,121.422
12,13,Haryana,"994,154","994,154",3.71%,116.862
13,14,Odisha,"774,869","774,869",2.86%,90.047
14,15,Bihar,"751,396","751,396",2.77%,87.284
15,16,Punjab,"673,107","673,107",2.62%,82.442
16,17,Assam,"493,167","493,167",1.76%,55.381
17,18,Chhattisgarh,"457,608","457,608",1.73%,54.550
18,19,Jharkhand,"393,722","393,722",1.53%,48.167
19,20,Uttarakhand,"302,621","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","227,927",0.85%,26.833
21,22,Himachal Pradesh,"195,405","195,405",0.75%,23.659
22,23,Goa,-,-,0.35%,11.087
23,24,Tripura,"72,636","72,636",0.27%,8.396
24,25,Chandigarh,-,-,0.19%,6.125
25,26,Puducherry,-,-,0.19%,5.938
26,27,Meghalaya,"42,697","42,697",0.17%,5.206
27,28,Sikkim,"42,756","42,756",0.16%,5.041
28,29,Manipur,-,-,0.16%,4.912
29,30,Arunachal Pradesh,-,-,0.15%,4.714
30,31,Nagaland,-,-,0.14%,4.283
31,32,Mizoram,-,-,0.12%,3.735
32,33,Andaman & Nicobar Islands,-,-,0.04%,1.392

#Question no. 4:-Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [11]:
#Importing the required libraries:-

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [12]:
#Create a driver object:-

driver=webdriver.Chrome()

In [13]:
#Go to webpage:-

driver.get("https://github.com/")

In [14]:
#Click on explore menu:-

search=driver.find_elements(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')

In [17]:
#Click on trending option:-

search_tag=driver.find_elements(By.LINK_TEXT,'Trending')

In [18]:
#scrape all product urls:-
product_urls=[]
#scraping urls:-
url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    product_urls.append(i.get_attribute("href"))

In [19]:
len(product_urls)

25

In [20]:
#Create Empty Lists:-

title=[]
description=[]
contri_count=[]
language=[]

In [21]:
#Looping through each information:-

for url in product_urls:
    driver.get(url)
    time.sleep(2)
        
    
    #Scraping Repository title:-
    try:
        title_tag=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        title.append(title_tag.text)
    except NoSuchElementException:
        title.append("-")
        
    #Scraping Repository description:-    
    try:
        des_tag=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        description.append(des_tag.text)
    except NoSuchElementException:
        description.append("-")
        
    #Scraping Repository Countributors count:-
    try:
        count_tag=driver.find_element(By.XPATH,'//span[@class="Counter ml-1"]')
        contri_count.append(count_tag.text)
    except NoSuchElementException:
        contri_count.append("-")
    
    #Scraping Repository language used:-
    try:
        lang_tag=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        language.append(lang_tag.text)
    except NoSuchElementException:
        language.append("-")

In [22]:
#Scraping each length:-

len(title)

25

In [23]:
len(description)

25

In [24]:
len(contri_count)

25

In [25]:
len(language)

25

In [26]:
#Create Dataframe and print:-

df=pd.DataFrame({'Repository Title':title,'Repository Description':description,'Contributors Count':contri_count,'Language':language})

df

,Repository Title,Repository Description,Contributors Count,Language
0,I-S00N,-,,-
1,minbpe,"Minimal, clean, code for the Byte Pair Encodin...",6,Python
2,magika,Detect file content types with deep learning,,Python
3,sherlock,🔎 Hunt down social media accounts by username ...,201,Python
4,DiT,"Official PyTorch Implementation of ""Scalable D...",3,Python
5,LWM,-,,Python
6,gpt4free,The official gpt4free repository | various col...,179,Python
7,lobe-chat,"🤖 Lobe Chat - an open-source, high-performance...",62,TypeScript
8,UFO,A UI-Focused Agent for Windows OS Interaction.,4,Python
9,jepa,PyTorch code and models for V-JEPA self-superv...,,Python
10,hello-algo,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",140,Java
11,hiddify-next,"Multi-platform auto-proxy client, supporting S...",,Dart
12,Langchain-Chatchat,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,,Python
13,react-native,A framework for building native applications u...,,C++
14,Rope,GUI-focused roop,,Python
15,ruoyi-vue-pro,🔥 官方推荐 🔥 RuoYi-Vue 全新 Pro 版本，优化重构所有功能。基于 Sprin...,,Java
16,CorsixTH,Open source clone of Theme Hospital,,Lua
17,ChatGPT-Next-Web,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,165,TypeScript
18,contribute-to-scroll,This repository guides developers wanting to c...,9,-
19,gligen-gui,An intuitive GUI for GLIGEN that uses ComfyUI ...,,JavaScript
20,stable-diffusion-webui,Stable Diffusion web UI,,Python
21,build-your-own-x,Master programming by recreating your favorite...,,-
22,the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",,-
23,the-art-of-command-line,"Master the command line, in one page",,-
24,CVE-2024-21413-Microsoft-Outlook-Remote-Code-E...,Microsoft-Outlook-Remote-Code-Execution-Vulner...,,Python

#Question no. 5:-Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board

In [1]:
#Importing the required libraries:-

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [2]:
#Create a driver object:-

driver=webdriver.Chrome()

In [3]:
#Go to webpage:-

driver.get("https://www.billboard.com/")

In [4]:
#Click on the Charts option:-
search=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
search.click()

In [5]:
#Click on hot 100:-
search_btn=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
search_btn.click()

In [29]:
#Create Empty lists:-
song_name=[]
artist_name=[]
last_rank=[]
peak_rank=[]
on_board=[]

In [30]:
#Scraping first row song name:-

name_tag=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
for i in name_tag:
    song_name.append(i.text)

In [31]:
len(name_tag)

1

In [32]:
#Scraping first row artist name:-

artist_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in artist_tag:
    artist_name.append(i.text)

In [33]:
len(artist_name)

1

In [34]:
#Scraping remaining song_name:-
name_tag=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in name_tag:
    song_name.append(i.text)

In [35]:
len(song_name)

100

In [36]:
#Scraping remaining artist_name:-
artist_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_tag:
    artist_name.append(i.text)

In [37]:
len(artist_name)

100

In [38]:
#Scraping all last week rank:-
last_tag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for i in last_tag:
    last_rank.append(i.text)

In [39]:
len(last_rank)

100

In [40]:
#Scraping all peak rank:-
peak_tag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for i in peak_tag:
    peak_rank.append(i.text)

In [41]:
len(peak_rank)

100

In [42]:
#Scraping weeks on board:-

board_tag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
for i in board_tag:
    on_board.append(i.text)

In [43]:
len(on_board)

100

In [44]:
#Create dataframe and print:-

df=pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':last_rank,'Peak Rank':peak_rank,'Weeks on Board':on_board})

df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Lovin On Me,Jack Harlow,2,1,13
1,Lose Control,Teddy Swims,4,2,26
2,Beautiful Things,Benson Boone,8,3,3
3,Cruel Summer,Taylor Swift,3,1,40
4,Snooze,SZA,10,2,60
...,...,...,...,...,...
95,Worth It,Offset & Don Toliver,100,92,4
96,Northern Attitude,Noah Kahan With Hozier,97,37,10
97,Scared To Start,Michael Marcagi,-,98,1
98,First Love,Oscar Ortiz X Edgardo Nunez,91,91,3
99,Where It Ends,Bailey Zimmerman,-,32,7

#Question no. 6:-Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre

In [45]:
#Importing the required libraries:-

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [46]:
#Create a driver object:-

driver=webdriver.Chrome()

In [47]:
#Go to webpage:-

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [49]:
#Create empty lists:-

book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [50]:
#Scraping book name:-

book_tag=driver.find_elements(By.XPATH,'//td[2][@class="left"]')
for i in book_tag:
    book_name.append(i.text)

In [51]:
len(book_name)

100

In [52]:
#Scraping author name:-

author_tag=driver.find_elements(By.XPATH,'//td[3][@class="left"]')
for i in author_tag:
    author_name.append(i.text)

In [53]:
len(author_name)

100

In [54]:
#Scraping volumes sales:-

sold_tag=driver.find_elements(By.XPATH,'//td[4][@class="left"]')
for i in sold_tag:
    volumes_sold.append(i.text)

In [55]:
len(volumes_sold)

100

In [56]:
#Scraping Publisher:-

pub_tag=driver.find_elements(By.XPATH,'//td[5][@class="left"]')
for i in pub_tag:
    publisher.append(i.text)

In [57]:
len(publisher)

100

In [58]:
#Scraping genre:-

genre_tag=driver.find_elements(By.XPATH,'//td[6][@class="last left"]')
for i in genre_tag:
    genre.append(i.text)

In [59]:
len(genre)

100

In [60]:
#Create Dataframe and print:-

df=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})

df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#Question no. 7:-Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc. You have 
to find the following details: 
A) Name 
B) Year span 
c) Ratings 
d) Votes

In [61]:
#Importing the required libraries:-

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [62]:
#Create a driver object:-

driver=webdriver.Chrome()

In [63]:
#Go to webpage:-

driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [64]:
#Create empty lists:-

name=[]
year_span=[]
rating=[]
votes=[]

In [65]:
#Scraping name:-

name_tag=driver.find_elements(By.XPATH,'//ul[@class="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base"]//h3[@class="ipc-title__text"]')
for i in name_tag:
    name.append(i.text)

In [66]:
len(name)

50

In [67]:
#Scraping year span:-

year_tag=driver.find_elements(By.XPATH,'//span[1][@class="sc-be6f1408-8 fcCUPU dli-title-metadata-item"]')
for i in year_tag:
    year_span.append(i.text)

In [68]:
len(year_span)

50

In [69]:
#Scraping ratings:-

rating_tag=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"]')
for i in rating_tag:
    rating.append(i.text)

In [70]:
len(rating)

50

In [71]:
#Scraping votes:-

votes_tag=driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-0 cPpOqU"]')
for i in votes_tag:
    votes.append(i.text)

In [72]:
len(votes)

50

In [73]:
#Create Dataframe and print:-

df=pd.DataFrame({'Name':name,'Year Span':year_span,'Ratings':rating,'Votes':votes})

df

                              Name  Year Span       Ratings           Votes
0               1. Game of Thrones  2011–2019  9.2\n (2.3M)  Votes2,258,468
1                  2. Breaking Bad  2008–2013  9.5\n (2.1M)  Votes2,105,688
2               3. Stranger Things  2016–2025  8.7\n (1.3M)  Votes1,317,595
3                       4. Friends  1994–2004  8.9\n (1.1M)  Votes1,077,039
4              5. The Walking Dead  2010–2022  8.1\n (1.1M)  Votes1,070,078
5                      6. Sherlock  2010–2017  9.1\n (988K)    Votes988,058
6           7. The Big Bang Theory  2007–2019  8.2\n (860K)    Votes859,798
7                        8. Dexter  2006–2013  8.7\n (759K)    Votes758,682
8         9. How I Met Your Mother  2005–2014  8.3\n (723K)    Votes723,220
9                   10. The Office  2005–2013  9.0\n (698K)    Votes697,966
10              11. True Detective      2014–  8.9\n (640K)    Votes639,818
11              12. Peaky Blinders  2013–2022  8.8\n (636K)    Votes635,834
12            13. Better Call Saul  2015–2022  9.0\n (635K)    Votes635,066
13                    14. The Boys      2019–  8.7\n (633K)    Votes632,990
14                15. Black Mirror      2011–  8.7\n (632K)    Votes631,953
15              16. Rick and Morty      2013–  9.1\n (593K)    Votes593,490
16                        17. Lost  2004–2010  8.3\n (590K)    Votes589,540
17             18. The Mandalorian      2019–  8.7\n (579K)    Votes579,380
18                     19. Vikings  2013–2020  8.5\n (575K)    Votes575,088
19                20. Prison Break  2005–2017  8.3\n (574K)    Votes574,137
20                 21. The Witcher      2019–  8.0\n (564K)    Votes564,344
21                  22. Squid Game      2021–  8.0\n (530K)    Votes529,949
22                   23. Westworld  2016–2022  8.5\n (529K)    Votes529,158
23              24. House of Cards  2013–2018  8.6\n (528K)    Votes527,867
24                 25. Money Heist  2017–2021  8.2\n (526K)    Votes525,709
25                       26. House  2004–2012  8.7\n (504K)    Votes503,813
26              27. The Last of Us      2023–  8.8\n (500K)    Votes500,165
27             28. Attack on Titan  2013–2023  9.1\n (497K)    Votes497,286
28                29. Supernatural  2005–2020  8.4\n (478K)    Votes478,329
29               30. Modern Family  2009–2020  8.5\n (476K)    Votes476,219
30                       31. Suits  2011–2019  8.4\n (471K)    Votes470,985
31                   32. Daredevil  2015–2018  8.6\n (471K)    Votes470,713
32                      33. Narcos  2015–2017  8.8\n (465K)    Votes464,868
33                34. The Sopranos  1999–2007  9.2\n (462K)    Votes461,539
34                       35. Arrow  2012–2020  7.5\n (445K)    Votes444,536
35                        36. Dark  2017–2020  8.7\n (437K)    Votes436,809
36                37. The Simpsons      1989–  8.7\n (433K)    Votes432,564
37                       38. Fargo  2014–2024  8.9\n (415K)    Votes415,256
38                   39. Mr. Robot  2015–2019  8.5\n (415K)    Votes414,680
39                        40. Loki  2021–2023  8.2\n (406K)    Votes405,780
40                  41. South Park      1997–  8.7\n (403K)    Votes402,941
41                    42. The Wire  2002–2008  9.3\n (372K)    Votes372,424
42                  43. Death Note  2006–2007  8.9\n (372K)    Votes371,802
43                   44. The Flash  2014–2023  7.5\n (367K)    Votes366,699
44         45. House of the Dragon      2022–  8.4\n (363K)    Votes362,703
45                  46. Family Guy  1999–2025  8.2\n (362K)    Votes361,587
46                    47. Homeland  2011–2020  8.3\n (359K)    Votes358,963
47  48. Avatar: The Last Airbender  2005–2008  9.3\n (356K)    Votes356,431
48          49. Brooklyn Nine-Nine  2013–2021  8.4\n (355K)    Votes355,488
49                   50. Wednesday      2022–  8.1\n (352K)    Votes352,313

#Question no. 8:-Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year

In [1]:
#Importing the required libraries:-

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

In [2]:
#Create a driver object:-

driver=webdriver.Chrome()

In [3]:
#Go to webpage:-

driver.get("https://archive.ics.uci.edu/")

In [4]:
#Click on all dataset option:-

search=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
search.click()

In [20]:
#Create empty lists:-

set_name=[]
data_type=[]
task=[]
attribute_type=[]
instances=[]
attribute=[]
year=[]

In [21]:
#scrape all product urls:-
product_urls=[]
#scraping urls:-
url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    product_urls.append(i.get_attribute("href"))

In [22]:
len(product_urls)

10

In [23]:
#Looping through each of the information:-

for url in product_urls:
    driver.get(url)
    time.sleep(2)
        
    
    #Scraping set name:-
    try:
        name_tag=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        set_name.append(name_tag.text)
    except NoSuchElementException:
        set_name.append("-")
    
    #Scraping data type:-
    try:
        data_tag=driver.find_element(By.XPATH,'//div[1][@class="col-span-4"]//p')
        data_type.append(data_tag.text)
    except NoSuchElementException:
        data_type.append("-")
    
    #Scraping task:-
    try:
        task_tag=driver.find_element(By.XPATH,'//div[3][@class="col-span-4"]//p')
        task.append(task_tag.text)
    except NoSuchElementException:
        task.append("-")
    
    #Scraping attribute type:-
    try:
        type_tag=driver.find_element(By.XPATH,'//div[4][@class="col-span-4"]//p')
        attribute_type.append(type_tag.text)
    except NoSuchElementException:
        attribute_type.append("-")
    
    #Scraping instances:-
    try:
        insta_tag=driver.find_element(By.XPATH,'//div[5][@class="col-span-4"]//p')
        instances.append(insta_tag.text)
    except NoSuchElementException:
        instances.append("-")
     
    #Scraping attribute number:-
    try:
        number_tag=driver.find_element(By.XPATH,'//div[6][@class="col-span-4"]//p')
        attribute.append(number_tag.text)
    except NoSuchElementException:
        attribute.append("-")
    
    #Scraping year:-
    try:
        year_tag=driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        year.append(year_tag.text)
    except NoSuchElementException:
        year.append("-")

In [24]:
#Scraping each of the length:-

len(set_name)

10

In [25]:
len(data_type)

10

In [26]:
len(task)

10

In [27]:
len(attribute_type)

10

In [28]:
len(instances)

10

In [29]:
len(attribute)

10

In [30]:
len(year)

10

In [31]:
#Create Dataframe and print:-

df=pd.DataFrame({'Dataset Name':set_name,'Data Type':data_type,'Task':task,'Attribute Type':attribute_type,'No of Instances':instances,'No of Attribute':attribute,'Year':year})

df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,Donated on 8/13/2023
6,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Donated on 10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-